info:
  title: CloudSQL
  author: marcos@innovateedunyc.org
  description: |
    Creates a CloudSQL deployment to house Ed-Fi ODS databases
  version: 0.1

{% set ID = env['name'] %}

resources:
- name: {{ ID }}
  type: sqladmin.v1beta4.instance
  properties:
    backendType: SECOND_GEN
    instanceType: CLOUD_SQL_INSTANCE
    databaseVersion: POSTGRES_11
    settings:
      tier: db-custom-1-3840
      backupConfiguration:
        enabled: true
      ipConfiguration:
        ipv4Enabled: true
        requireSsl: true

{% if properties['databases'] %}
  {% for i in range(properties['databases']| length) %}
- name: {{ ID }}-db-{{ properties['databases'][i]['name'] }}
  type: sqladmin.v1beta4.database
  properties:
    name: {{ properties['databases'][i]['name'] }}
    instance: $(ref.{{ ID }}.name)
    {% if properties['databases'][i]['charset'] %}
    charset: {{ properties['databases'][i]['charset'] }}
    {% else %}
    charset: utf8
    {% endif %}
    {% if (i - 1) >= 0 %}
  metadata:
    dependsOn:
      - {{ ID }}-db-{{ properties['databases'][i - 1]['name'] }}
    {% endif %}
  {% endfor %}
{% endif %}

- name: {{ ID }}-user-postgres
  type: sqladmin.v1beta4.user
  properties:
    name: postgres
    host: "%" 
    instance: $(ref.{{ ID }}.name)
    password: {{ properties['postgrespass'] }}
{% if properties['databases'] %}
  metadata:
    dependsOn:
      - {{ ID }}-db-{{ properties['databases'][(properties['databases']| length) - 1]['name'] }}
{% endif %}

{% if properties['sqlimports'] %}
  {% for i in range(properties['sqlimports']| length) %}
- name: {{ ID }}-import-structure-{{ properties['sqlimports'][i]['name'] }}
  action: gcp-types/sqladmin-v1beta4:sql.instances.import
  properties:
    instance: $(ref.{{ ID }}.name)
    project: {{ env['project'] }}
    importContext:
      kind: sql#importContext
      fileType: SQL
      database: {{ properties['sqlimports'][i]['name'] }}
      importUser: postgres
      uri: {{ properties['sqlimports'][i]['backup'] }}
  metadata:
    dependsOn:
    {% if (i - 1) >= 0 %}
      - {{ ID }}-import-structure-{{ properties['sqlimports'][i - 1]['name'] }}
    {% else %}
      - {{ ID }}-user-postgres
    {% endif %}
  {% endfor %}
{% endif %}

outputs:
  - name: cloudSqlConnectionName
    value: $(ref.{{ ID }}.connectionName)
