info:
  title: Compute Engine
  author: marcos@innovateedunyc.org
  description: |
    Creates a VM using Landing Zone's Ed-Fi v3.4 image
  version: 0.1

{% set ID = env['name'] %}

resources:
- type: compute.v1.instance
  name: {{ ID }}
  properties:
    zone: {{ properties["zone"] }}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/n1-standard-2
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        diskName: {{ ID }}
        sourceImage: projects/public-resources-240800/global/images/edfi--3-4
    serviceAccounts:
    - email: default
      scopes:
        - 'https://www.googleapis.com/auth/devstorage.read_only'
        - 'https://www.googleapis.com/auth/logging.write'
        - 'https://www.googleapis.com/auth/monitoring.write'
        - 'https://www.googleapis.com/auth/pubsub'
        - 'https://www.googleapis.com/auth/service.management.readonly'
        - 'https://www.googleapis.com/auth/servicecontrol'
        - 'https://www.googleapis.com/auth/trace.append'
        - 'https://www.googleapis.com/auth/sqlservice.admin'
        - 'https://www.googleapis.com/auth/devstorage.read_write'
    metadata:
      items:
        - key: cloud_sql_instance
          value: {{ properties["cloudSqlConnectionName"] }}=tcp:5432
    tags:
      items:
        - edfi-api
    networkInterfaces:
    - network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
        natIP: {{ properties["staticIpAddress"] }}
  metadata:
    dependsOn:
      - static-ip