info:
  title: Firewall configuration
  author: marcos@innovateedunyc.org
  description: |
    Creates a firewall rule allowing HTTP and HTTPS traffic and removed RDP access
  version: 0.1

{% set ID = env['name'] %}

resources:
- name: {{ ID }}-allow-https
  type: compute.v1.firewall
  properties:
    sourceRanges: ["0.0.0.0/0"]
    targetTags: ["edfi-api"]
    allowed:
    - IPProtocol: TCP
      ports: ["80", "443"]

- name: {{ ID }}-delete-default-allow-rdp-rule
  action: gcp-types/compute-v1:compute.firewalls.delete
  properties:
    firewall: default-allow-rdp
    project: {{ env['project'] }}
  metadata:
    runtimePolicy:
    - CREATE
