info:
  title: Network settings
  author: marcos@innovateedunyc.org
  description: |
    Creates a static IP to be used by Ed-Fi API VM
  version: 0.1

{% set ID = env['name'] %}

resources:
- type: compute.v1.address
  name: {{ ID }}
  properties:
    region: {{ properties["region"] }}

outputs:
  - name: staticIpAddress
    value: $(ref.{{ ID }}.address)
